<header class="header shadow">
	<div><i class="far fa-file-code fa-2x"></i></div>
	<nav>
		<div>
			<a href="#about_me">
				About&nbsp;Me
			</a>
		<a href="/#aboutðŸ“–">
			About&nbsp;Me
		</a>
		<a href="/#projectsðŸ’»">
			Projects
		</a>
		<a href="/#hobbiesðŸ’ªðŸ»">
			Hobbies
		</a>
		<a href="/#socialsðŸ”—">
			Socials
		</a>
		<a href="/contactðŸ“§">
			Contact
		</a>
	</nav>
</header>