<header class="header shadow">
	<div><i class="far fa-file-code fa-2x"></i></div>
	<nav>
		<div>
			<a href="#about_me">
				About&nbsp;Me
			</a>
			<a href="#projects">
				Projects
			</a>
		</div>
		<div>
			<a href="#hobbies">
				Hobbies
			</a>
			<a href="#more">
				More
			</a>
		</div>
	</nav>
</header>