<section class="skills" id="skills🔨">
	<h2>Tech Stack</h2>
	<picture class="skills__tech">
		<source media="(max-width: 600px)" srcset="/images/programming-por.png">
		<source srcset="/images/programming-land.png">
		<img src="/images/programming.png" tabindex="0" aria-label="skills">
	</picture>

	<script defer>
		document.querySelector(".skills__tech img")
			.addEventListener("click", function (ev) {
				const copy = ev.currentTarget.cloneNode(true);
				copy.style.padding = "0.15rem dashed var(--color-link)"
				const hideBackdrop = showBackdrop(copy);
			});
	</script>
</section>