<section class="skills" id="skills🔨">
	<h2>Tech Stack</h2>
	<figure class="lazy_loading">
		<picture class="skills__tech">
			<source srcset="" media="(max-width: 600px)">
			<source srcset="">
			<img srcset="" tabindex="0" aria-label="skills">
		</picture>
		<figcaption>Click to expand</figcaption>
	</figure>

	<script defer>
		document.querySelector(".skills__tech img")
			.addEventListener("click", function (ev) {
				const copy = ev.currentTarget.cloneNode(true);
				copy.classList.add("skills__big_img");
				const hideBackdrop = showBackdrop(copy);
			});
	</script>
</section>