<section class="socials" id="socials">
	<a class="socials__link" href="<%= socials.linkedIn %> " target="_blank" title="Open LinkedIn profile">
		<i class="fab fa-linkedin"></i>
	</a>
	<!-- github -->
	<a class="socials__link" href="https://github.com/<%= githubUsername %> " target="_blank"
		title="Open Github profile">
		<i class="fab fa-github"></i>
	</a>
</section>