<%- include("layout/head.ejs") -%>
	<%- include("sub/header") -%>
	<main class="main contact_success">
		<h2>Thanks!</h2>
		<p>Thank you for your message.</p>
		<p>
			<% if (email) { %>
				I will reply you soon at <%= email %>.
			<%} %>
		</p>
	</main>
<%- include("layout/footer.ejs") -%>