<%- include("layout/head.ejs") -%>
	<%- include("sub/header") -%>
		<h2>Thanks!</h2>
		<p>Thank you for your message.</p>
		<a href="/" title="Open homepage">Go to homepage.</a>
		<%- include("layout/footer.ejs") -%>