<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<header class="header">
		<article class="header__about_me">
			<h1>
				<%= title %>
			</h1>
			<p class="header__about_me__content">
				I am 28 years old programmer with four years of experience as aJavaScript Developer. At work, I am
				mostly using JavaScript language andPL-SQL, while in my spare time I am trying to learn new technologies
				and acquire new software areas. I have been focusing on the Go language for some time and now I'm
				looking for a job as a Golang backend developer.
			</p>
		</article>
		<article class="header__about_me__logo">
			<img src="https://avatars.githubusercontent.com/u/32594701?v=4" alt="logo">
		</article>

	</header>
	<section class="links">
		<div class="links__link">
			<a href="https://www.linkedin.com/in/kamil-tereszkiewicz-889a08204/">
				<img src="" alt="">
			</a>
		</div>
		<!-- social media ect here. -->
	</section>

	</section>

	<section class="projects">
		<!-- projects here -->
	</section>

	<footer>
		<a href="https://github.com/UnnamedXAer" title="<%= title %> GitHub" target="_blank">
			<%= title %>
		</a>
	</footer>
</body>

</html>