.contact__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__form label,
button[type='submit'] {
	margin: 0.3rem;
	width: 33rem;
	max-width: 100%;
}

.contact__form input,
.contact__form textarea,
.contact__form button {
	margin-top: 0.2rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	background: var(--secondary);
	color: var(--color);
	border: 0.2rem solid var(--color-link);
}

.contact__form button[type='submit'] {
	margin: 1.5rem auto 1rem auto;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.contact__form label {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

.contact__form .g-recaptcha {
	padding: 0.2em;
	width: fit-content;
	border: 0.2rem solid transparent;
}

.contact__form *.error {
	border-color: rgba(var(--error-rgb), 0.4);
}

.contact__field_error {
	margin-block-start: 0;
	color: rgba(var(--error-rgb), 0.85);
}

.contact__field_chars_cnt {
	font-size: 0.7rem;
	font-style: oblique;
	text-align: end;
	margin-block-start: 0.1rem;
	font-weight: 400;
}
