.contact {
	padding-top: 1rem;
}

.contact__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__form label {
	margin: 0.3rem;
	width: 33rem;
	max-width: 100%;
}

.contact__form input,
.contact__form textarea,
.contact__form button {
	margin-top: 0.2rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	background: var(--secondary);
	color: var(--color);
	border: 0.2rem solid var(--color-link);
}

.contact__form button[type='submit'] {
	margin: 1.5rem auto 1rem auto;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	width: 100%;
	max-width: 20rem;
	position: relative;
	background-color: rgba(var(--color-link-rgb), 0.2);
}

.contact__form button[type='submit'] i {
	position: absolute;
	left: 0.3rem;
	visibility: hidden;
	color: rgba(var(--color-link-rgb), 0.9);
}

.contact__form button[type='submit'].loading {
	background-color: var(--secondary);
	border-color: rgba(var(--color-rgb), 0.5);
}

.contact__form button[type='submit']:active {
	border: 0.2rem solid var(--color-link);
	transform: translate(0, 0.2rem);
	background-color: rgba(var(--color-link-rgb), 0.5);
	color: rgb(240, 248, 255);
}

.contact__form button[type='submit'].loading i {
	visibility: visible;
}

.contact__form label {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

.contact__form .g-recaptcha {
	padding: 0.2em;
	width: fit-content;
	border: 0.2rem solid transparent;
}

.contact__form *.error {
	border-color: rgba(var(--error-rgb), 0.4);
}

.contact__field_error {
	margin-block-start: 0;
	color: rgba(var(--error-rgb), 0.85);
}

.contact__field_chars_cnt {
	font-size: 0.7rem;
	font-style: oblique;
	text-align: end;
	margin-block-start: 0.1rem;
	font-weight: 400;
}

.contact__form__info {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--color-link);
	margin: auto 0.2rem;
	border: 0.1rem solid rgba(var(--color-link-rgb), 0.7);
	font-size: 0.6rem;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	text-align: center;
	cursor: help;
}

.contact__form__info::before {
	content: 'i';
}

.contact__form__info:hover {
	border-color: rgba(var(--color-link-rgb), 0.9);
}
