
.education__timeline_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4rem;
	margin-left: 2.5rem;
	padding-left: 0.3rem;
}

.education__timeline {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 30rem;
	width: 100%;
	padding-left: 1rem;
}

.education__timeline::before {
	content: '';
	position: absolute;
	top: 1.5rem;
	left: -2rem;
	/* bottom: 0; */
	height: calc(100% + 1rem);
	width: 0.6rem;
	background: rgba(var(--color-link-rgb), 0.3);
}

.education__timeline article {
	position: relative;
	/* border: 0.2rem solid rgba(216, 166, 3, 0.527); */
	border: 0.2rem solid rgba(var(--accent-rgb), 0.8);
	border-right: 1rem solid rgba(var(--accent-rgb), 0.8);
	border-radius: 0.7rem;
	padding: 1rem;
	margin-top: 1.5rem;
	color: burlywood;
}

.education__timeline article:first {
	margin-top: 0;
}

.education__timeline article::before {
	content: '';
	height: 1.7rem;
	width: 1.7rem;
	background-color: var(--color-link);
	position: absolute;
	left: -3.75rem;
	top: 0.5rem;
}

.education__timeline article::after {
	content: '';
	border: 1rem solid transparent;

	position: absolute;
	top: 0.5rem;
	left: -2.7rem;
	border-right: 1rem solid rgba(var(--accent-rgb), 0.89);
}

.education__title{
	font-style: oblique;
	color: chocolate;
}

.education__moreInfo{
	font-style: italic;
	font-size: 0.9rem;
}

.education__school {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}