.header,
.header_placeholder {
	height: 6rem;
	width: 100%;
	transition: 300ms;
}

.header {
	z-index: 1;
	top: 0;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #333333;
	padding-left: 3rem;
	padding-right: 3rem;
}

.header_small {
	height: 4rem;
}

.shadow {
	-webkit-box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
	box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
}

.header__logo {
	width: 2.5rem;
	margin-right: 1rem;
	text-align: center;
}

.header nav {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 1.5em;
	z-index: 5;
}

.header nav a {
	text-decoration: none;
	padding: 1rem 1.5rem;
}

.header nav a:hover {
	transition: 200ms;
	transform: scale(1.15);
	position: relative;
}

.header nav a:hover::before {
	content: '';
	position: absolute;
	bottom: -0.3rem;
	height: 0.2rem;
	left: 10%;
	right: 60%;
	background-color: var(--accent);
	transform: rotate(-20deg);
	-webkit-box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
	box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
}

.header nav a:hover::after {
	content: '';
	position: absolute;
	bottom: -0.3rem;
	height: 0.2rem;
	left: 40%;
	right: 20%;
	background-color: var(--accent);
	-webkit-box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
	box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
}

.header__backdrop {
	display: none;
	background-color: rgba(8, 8, 8, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 3;
}

.header__backdrop.active {
	display: block;
}

.header__burger {
	z-index: 4;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	padding: 1rem;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	margin-inline-end: 0.3rem;
}

.header__burger div {
	background-color: var(--color-link);
	height: 0.3rem;
}

.header nav.active {
	transform: translateX(0%);
}

.header__burger div {
	transition: 300ms;
}

.header__burger.active div:first-child {
	transform: rotate(45deg) translateY(1px);
}

.header__burger.active div:nth-child(2) {
	animation: middleDashBurger 1s forwards;
}

.header__burger.active div:nth-child(3) {
	transform: rotate(-45deg) translateY(-1px);
}

@keyframes middleDashBurger {
	0% {
		transform: translateX(0);
	}
	44% {
		transform: translateX(-1.3rem);
	}
	56% {
		transform: translateX(-1.3rem);
	}
	100% {
		transform: translateX(-0.3rem);
	}
}
