@media only screen and (max-width: 900px) {
	.header nav {
		font-size: 1.1em;
		justify-content: flex-end;
	}

	.alert.error{
		border-width: 0.5rem;
		padding: 0.5rem;
	}
}

@media only screen and (max-width: 700px) {
	.header,
	.header_placeholder {
		padding-right: 0;
		transition: 400ms;
	}

	.header__burger {
		display: flex;
	}

	.header nav {
		position: absolute;
		top: 100%;
		right: 0;
		height: 100vh;
		transform: translateX(100%);
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
		background-color: var(--secondary);
		transition: transform 0.2s;
	}

	.header nav a {
		padding: 1rem 0.7rem;
		margin-right: 2rem;
		margin-left: 2rem;
		min-width: 180px;
		max-width: 90vw;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: transparent;
	}
	.header nav a:hover {
		transform: unset;
	}

	.header nav a:active {
		background-color: rgba(127, 255, 212, 0.2);
		transform: scale(1.1);
		outline: none;
	}

	.header nav a::before,
	.header nav a::after {
		display: none;
		font-size: 1em;
	}

	.main {
		padding-left: 0;
		padding-right: 0;
	}

	.about_me {
		align-items: center;
		flex-direction: column-reverse;
		font-size: 1.2em;
	}

	.projects__repo {
		width: 100%;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.projects a:hover {
		transform: scale(1.05);
	}

	.contact {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.alert.error{
		border-width: 0.3rem;
		padding: 0.3rem;
	}
}

@media only screen and (max-width: 400px) {
	.about_me {
		padding: 2em 1.3em;
		font-size: 1.2rem;
	}

	.header nav {
		font-size: 0.8em;
	}
}
