* {
	box-sizing: border-box;
}

:root {
	--main: #121212;
	--secondary: #333333;
	--secondary-rgb: 51, 51, 51;
	--accent: #f5df2e;
	--accent-rgb: 245, 223, 46;
	--color: #bebdbd;
	--color-link: #0098d4;
	--color-link-rgb: 0, 152, 212;
	--error: #b00020;
	--error-rgb: 176, 0, 32;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: var(--color);
}

body {
	width: 100vw;
	font: 14px;
	font-family: 'Roboto Mono', monospace;
	background: var(--main);
	overflow-y: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	color: var(--color-link);
}

.main {
	max-width: 1080px;
	min-height: 100vh;
	margin: 0 auto;
	min-height: 100%;
	padding: 4rem 2rem;
}

.main > section > h2 {
	margin-left: 1rem;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.socials__link {
	margin: 1.5rem;
	font-size: 2.5rem;
}
.socials__link a {
	padding: 0.5rem;
}

.socials__link i:hover {
	transform: scale(1.2);
}

.backdrop {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(49, 0, 128);

	transition: 300ms;
}

.backdrop.active {
	opacity: 0.7;
}
