* {
	box-sizing: border-box;
}

:root {
	--main: #121212;
	--secondary: #333333;
	--secondary-rgb: 51, 51, 51;
	--accent: #f5df2e;
	--accent-rgb: 245, 223, 46;
	--color: #bebdbd;
	--color-link: #0098d4;
	--color-link-rgb: 0, 152, 212;
	--error: #b00020;
	--error-rgb: 176, 0, 32;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: var(--color);
}

body {
	width: 100vw;
	font: 14px;
	font-family: 'Roboto Mono', monospace;
	background: var(--main);
	overflow-y: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	color: var(--color-link);
}

.main {
	max-width: 1080px;
	min-height: 100vh;
	margin: 0 auto;
	min-height: 100%;
	padding: 4rem 2rem;
}

.main > section > h2 {
	margin-left: 1rem;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.socials__link {
	margin: 1.5rem;
	font-size: 2.5rem;
}
.socials__link a {
	padding: 0.5rem;
}

.socials__link i:hover {
	transform: scale(1.2);
}

.backdrop.active {
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.backdrop__mask {
	transform: translate(-100%, -100%);
	z-index: 8;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(var(--secondary-rgb));
	opacity: 0;
}

.backdrop__mask.active {
	animation: mask  ease 150ms forwards;
}

@keyframes mask {
	0% {
		opacity: 0;
		transform: translate(50, 50);
		width: 10%;
		height: 10%;
	}
	50% {
		opacity: 0.1;
	}
	100% {
		opacity: 0.55;
		transform: translate(0, 0);
		width: 100%;
		height: 100%;
	}
}

.backdrop .backdrop__content {
	opacity: 0;
	transition-duration: 300ms;
}

.backdrop.active .backdrop__content {
	opacity: 1;
}

.backdrop__content > * {
	max-width: 90vw;
	max-height: 90vh;
}
