* {
	box-sizing: border-box;
}

:root {
	--main: #121212;
	--secondary: #333333;
	--secondary-rgb: 51, 51, 51;
	--accent: #f5df2e;
	--color: #bebdbd;
	--color-link: #0098d4;
	--color-link-rgb: 0, 152, 212;
	--error: #b00020;
	--error-rgb: 176, 0, 32;
}


html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: var(--color);
}

body {
	width: 100vw;
	font: 14px;
	font-family: 'Roboto Mono', monospace;
	background: var(--main);
	overflow-y: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	color: var(--color-link);
}


.main {
	max-width: 1080px;
	min-height: 100vh;
	margin: 0 auto;
	min-height: 100%;
	padding: 4rem 2rem;
}

.about_me {
	padding: 3em 2em;
	display: flex;
	flex-direction: row;
	background-color: rgba(var(--secondary-rgb), 0.7);
	color: var(--accent);
	font-size: 1.5rem;
	font-weight: 300;
}

.about_me h1 {
	font-weight: 500;
}

.about_me__logo img {
	margin-left: 1rem;
	border-radius: 50%;
	border: 0.3rem solid white;
	box-shadow: 0 3px 6px rgba(255, 255, 255, 0.ap2);
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.socials__link {
	margin: 1.5rem;
	font-size: 2.5rem;
}
.socials__link a {
	padding: 0.5rem;
}

.socials__link i:hover {
	transform: scale(1.2);
}
